<!DOCTYPE html>
<html>
  <head>
    <title>RadMovieNight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <u1 class = "nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Next Movie Poll",   '#' %></li>
            <li><%= link_to "Movie Database",   '#' %></li>
          </ui>
        </nav>
      </div>
    </header>
    <!-- <%= yield %> -->
  </body>
</html>
